{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}
{% set title = " blog" %}
{% block body %}
	<style>
		main {
			margin: 0 auto !important;
		}
	</style>
	<div class="s-content content">
		<main class="row content__page">
			<article class="column large-full entry format-standard">
				<div class="entry__related">
					<h3 class="h2">Related Article</h3>

					<ul class="related">
						{% for blog in pagination %}
							<li class="related__item">
								<a href="single-standard.html" class="related__link">
									<img src="/img/thumbs/masonry/walk-600.jpg" alt="">
								</a>
								<h5 class="related__post-title">{{blog.title}}</h5>
							</li>
						{% endfor %}
					</ul>
				</div>
			</article>
		</main>
		{{ knp_pagination_render(pagination, './base/paginator.html.twig') }}
	</div>
{% endblock %}
